<div class="container">
    <div class="row">
        <div class="col">
            <form [formGroup]="metodoform" (ngSubmit)="update()">
                <div class="mb-3">
                  <label for="name" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="name" name="name" formControlName="method" >
                  <p class="text-danger" *ngIf="errors.method" >{{errors.method}}</p>
                </div>
               <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               </div>
              
              
            </form>
        </div>
    </div>
</div>
